{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="map p-2" style="margin-top:6%;border:3px solid lightgray">
		

	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.5863677880907!2d90.4473785142979!3d23.79773939288465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c7d8042caf2d%3A0x686fa3e360361ddf!2sUnited%20International%20University!5e0!3m2!1sen!2sbd!4v1644688799465!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

</div>
	<div class="contact-w3l py-5" id="contact">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-section mb-sm-5 mb-4">
				<h6 class="w3ls-title-sub"></h6>
				<h3 class="w3ls-title text-uppercase text-bl font-weight-bold">Contact Us</h3>
			</div>
			<div class="row pt-md-0">
				<div class="col-lg-6 contact-agileits-w3layouts">
					<h4 class="contact-title text-uppercase text-bl mb-sm-4 mb-3">Our Address</h4>
					<h5 class="font-weight-light text-bl"></h5>
					<div class="midd-contact my-xl-5 my-4 pl-4 border-left">
						
					</div>
					
				</div>
				<div class="col-lg-6 regstr-r-w3-agileits mt-lg-0 mt-5">
					
					<div class="form-bg-w3ls">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //contact -->
	<!-- map -->

	<!-- //map -->

{% endblock %}


	<!-- page details -->
